* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 97%;
  max-width: 1440px;
  margin: 0 auto;
}

.layout-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

/* LEFT SIDE */

aside {
  width: 30%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 10px;
}

aside > h1 {
  cursor: pointer;
}

.categories-list > h2 {
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
}

.category-name {
  max-width: 300px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.new-category {
  color: #bdbdbd;
  cursor: pointer;
}

.category-input-container {
  margin-top: 40px;
  position: relative;
}

.category-input {
  width: 237px;
  height: 40px;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  padding: 5px;
}

.category-input:focus {
  outline: #bdbdbd;
}

.add-category-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 5px 10px;
  border: none;
  background-color: #bdbdbd;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.aside-icon {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  color: black;
  display: none;
}

/* RIGHT SIDE */

main {
  padding: 40px;
  width: 70%;
  background-color: #f3f3f381;
}

main > h1 {
  margin-bottom: 15px;
}

.category-header {
  max-width: 540px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.category-header > * {
  margin-right: 16px;
}

.header-color-select {
  position: relative;
}

.icon {
  color: #bdbdbd;
  cursor: pointer;
}

.category-color {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  margin: 5px;
}

.colors-palette {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* TODO INPUT */

.todo-input-container {
  position: relative;
}

.new-todo-input {
  width: 237px;
  height: 40px;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  padding: 5px;
}

.new-todo-input:focus {
  outline: #bdbdbd;
}

.add-todo-button {
  position: absolute;
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  padding: 5px 10px;
  border: none;
  background-color: #bdbdbd;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

/* TODO ITEM */

.todos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.checkmark-taskname-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.category-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.taskname {
  max-width: 400px;
  word-wrap: break-word;
}

.edit-todo-input {
  width: 237px;
  height: 25px;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  padding: 5px;
}

.edit-todo-input:focus {
  outline: #bdbdbd;
}

.todo-category-color {
  max-width: 100px;
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 10px;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* CUSTOM CHECKMARK */

.checkmark-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -7px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #bdbdbd;
  border-radius: 8px;
}

.checkmark-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmark-container input:checked ~ .checkmark {
  background-color: #4bef26;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark-container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* CUSTOM DROPDOWN */

.dropdown {
  width: 100px;
  margin: 0 auto;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
}

.dropdown:focus {
  outline: none;
}

.dropdown > .option {
  background-color: #bdbdbd;
}

@media only screen and (max-width: 1040px) {
  .taskname {
    max-width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
  .edit-todo-input {
    width: 180px;
  }
  .category-input {
    width: 180px;
  }
}

@media only screen and (max-width: 865px) {
  .category-input-container {
    padding: 0;
  }
  .category-input {
    width: 150px;
  }
  .colors-palette {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .taskname {
    max-width: 150px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
  .edit-todo-input {
    width: 150px;
  }
  .category-icons-container {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
  }
  .todo-category-color {
    font-size: 90%;
    margin-right: 5px;
    white-space: nowrap;
  }
  .dropdown {
    width: 80px;
    margin: 0 auto;
    border: 2px solid #bdbdbd;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 425px) {
  main {
    width: 100%;
    position: relative;
  }
  aside {
    padding: 40px 20px 20px 20px;
  }
  .aside-container {
    display: none;
  }
  #hidden {
    width: 30%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 0 10px 10px rgba(94, 91, 91, 0.26);
  }
  .aside-icon {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    color: black;
  }

  .categories-list > h2 {
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
  }

  .category-input {
    width: 100px;
    height: 34px;
    border: 2px solid #bdbdbd;
    border-radius: 10px;
    padding: 3px;
  }
  .add-category-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    padding: 3px 5px;
    border: none;
    background-color: #bdbdbd;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
  }
}
