* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 97%;
  max-width: 1440px;
  margin: 0 auto;
}

.layout-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

aside {
  width: 30%;
  background-color: #f3f3f3;
  
}

main {
  padding: 20px;
  width: 70%;
  background-color: antiquewhite;
}

.todo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.todo > span {
  padding: 5px 10px;
  border-radius: 7.5px;
  background-color: #fa7572;
  color: white;
}

.category-header {
  display: flex;
  flex-direction: row;
}
